/* general rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  width: 100%;
}

/* main */
main {
 height: calc(100% - 90px);
 overflow: hidden;
}

/* navbar */
nav {
  float: left;
  width: 230px;
  height: 100%;
  background-color: #000000;
}

/* Logo */
#logo {
  display: flex;
  align-items: center;
  height: 70px;
  padding: 0 10px;
}

#logo img {
  height: 40px;
}

#logo .xs_logo {
  display: none;
}

/* Main-Nav */
#main-nav {
  padding: 0 15px;
  margin-top: 20px;
}

#main-nav .home  ul li {
  margin-bottom: 7px;
}

#main-nav .xs_home {
  display: none;
}

#main-nav  a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #b3b3b3;
}

#main-nav  a:hover {
  color: #fff;
}

#main-nav ul li a img {
  height: 20px;
  margin-right: 5px;
}

.playlist {
  margin-top: 15px;
}

#main-nav .playlist h4 {
  text-transform: uppercase;
  color: #fff;
}

.fas {
  font-weight: 900;
  font-size: 50px;
  margin: 10px 10px 10px 0;
}

.playlist ul {
  margin-top: 15px;
}

.playlist ul li{
  margin-bottom: 20px;
}

.install {
  margin-top: 30px;
  border-bottom: 1px solid #b3b3b3;
  padding-bottom: 15px;
}

.install a img {
  height: 15px;
  margin-right: 10px;
}

.profile {
  margin-top: 15px;
}

.profile a {
  font-size: 20px;
}


.profile a img {
 height: 30px;
 margin-right: 10px;
 background-color: #b3b3b3;
 border-radius: 50%;
}

/* main body */
.main-body {
  float: left;
  height: 100%;
  width: calc(100% - 230px);
  background-color: rgb(24, 24, 24);
  overflow: auto;
}
/* <!-- nav top upgrade --> */
#upgrade {
  background-color: #292828;
  position: fixed;
  z-index: 999;
  width: calc(100% - 230px);
}

#upgrade .nav-top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 70px;
  width: auto;
}

#upgrade .button  {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 180px;
  border: 1px solid #fff;
  border-radius: 50px;
}

#upgrade .button a {
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

#upgrade .button:hover {
  transform: scale(1.1);
}

/* navigation list */
.navigation {
  margin-top: 10px;
  padding-top: 70px;
}

.navigation ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
}
.navigation ul li {
  margin-right: 15px;
}

.navigation ul li a {
  text-decoration: none;
  font-size: 15px;
  color: #b3b3b3;
  text-transform: uppercase;
}

.navigation ul li a:hover {
  color: #fff;
}

/*Recently played  */
#recently {
  padding: 0 15px;
  margin-top: 20px;
}

#recently h3 {
  font-size: 28px;
  color: #fff;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  margin-top: 15px;
}

.cover {
  width: 15%;
  margin-right: 15px;
  position: relative;
}

.cover .overlayer {
	top: 0;
	right: 0;
	width: 100%;
	height: 180px;
	position: absolute;
	background: rgba(0,0,0,0.6);
	text-align: center;
  cursor: pointer;
	visibility: hidden;
}

.overlayer .fa-play-circle {
	color: #fff;
	font-size: 70px;
	margin-top: 55px;
	transition: 100ms ease-in-out;
}

.fa-play-circle:hover {
	transform: scale(1.1);
}

.cover:hover .overlayer {
	visibility: visible;
}

.cover img {
  height: 180px;
  width: 100%
}
.cover h5 {
  font-size: 15px;
  color: #fff;
}
.cover h6 {
  color: #b3b3b3;
}

.cover h5, .cover h6 {
  text-align: center;
  margin-top: 5px;
}

/* Creato per John */
#create {
  padding: 0 15px;
  margin-top: 30px;
}

#create h3 {
  font-size: 28px;
  color: #fff;
}

#create h6 {
  font-size: 13px;
  color: #b3b3b3;
  margin-top: 15px;
}

/* Popular */
#popular {
  padding: 0 15px;
  margin-top: 30px;
}

#popular h3 {
  font-size: 28px;
  color: #fff;
}

#popular h6 {
  font-size: 13px;
  color: #b3b3b3;
  margin-top: 15px;
}

#popular img {
  border-radius: 50%;
}

#popular .cover .overlayer {
  border-radius: 50%;
}
/* footer */
footer {
  height: 90px;
  padding: 0 10px;
  background-color: #292828;
}

/* block left */
.block-left {
  display: flex;
  align-items: center;
  height: 100%;
  width: 30%;
}

.sinister {
  margin-right: 7px;
}
.sinister img {
  height: 50px;
}

.title a {
  text-decoration: none;
  color: #fff;
  display: block;
}

.title #subtitle {
  color: #b3b3b3;
  font-size: 13px;
}

.title #subtitle:hover {
  color: #fff;
  text-decoration: underline;
}

.heart {
  margin-left: 40px;
}

.heart a {
  text-decoration: none;
  color: #b3b3b3;
  margin-right: 5px;
}

.heart a:hover {
  color: #fff;
}
/* smartphone version */
@media all and (max-width: 579px) {
  .cover {
    margin-right: 5px;
  }
}
@media all and (max-width: 768px) {

  /* navbar */
  nav {
    width: 50px;
  }

  /* Logo */
  #logo .lg_logo {
    display: none;
  }

  #logo .xs_logo {
    display: block;
    height: 50px;
    padding: 0;
  }

  #logo .xs_logo img {
    height: 30px;
  }

  /* Main-nav */
  #main-nav {
    margin-top: 0;
  }

  #main-nav .xs_home ul li {
    margin-bottom: 5px;
  }

  #main-nav .home, #main-nav .playlist, #main-nav .scroll, #main-nav .install, #main-nav .profile  {
    display: none;
  }

  #main-nav .xs_home,#main-nav .xs_install, #main-nav .xs_profile {
    display: block;
  }

  #main-nav .xs_version {
    margin-top: 440px;
  }

  #main-nav .xs_install {
    margin-bottom: 15px;
  }

  #main-nav .xs_profile img {
    background-color: #b3b3b3;
    border-radius: 50%;
  }


  /* main body */
  .main-body {
    width: calc(100% - 50px);
  }

  /* navigation list */
  .navigation ul li {
    margin-right: 47px;
    margin-top: 25px;
  }

  /* Recently played */
  .cover {
    width: 47%;
  }

  .cover img {
    margin-top: 20px;
  }

  .cover:hover .overlayer {
  	visibility: hidden;
  }
}

/* tablet version */
@media all and (min-width:769px) and (max-width:992px) {

  /* navigation list */
  .navigation ul li {
    margin-right: 45px;
    margin-top: 25px;
  }

  .navigation ul li a {
    font-size: 14px;
  }

  /* Recently played */
  .cover {
    width: 22%;
  }

  .cover img {
    height: 140px;
    width: 100%;
    margin-top: 20px;
  }

}
